<html>

    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    </head>

    <body>
        <h2>Configurations</h2>

        {% regroup configs by filament as filament_list%}

        <ul>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Filament Brand</th>
                            <th>Filament Type</th>
                            <th>Filament Color</th>
                            <th>Printer</th>
                            <th>Plate</th>
                            <th>Flow Rate</th>
                            <th>Pressure Advance</th>
                            <th>First Layer Temp</th>
                            <th>Other Layer Temp</th>
                            <th>Plate Temp</th>
                            <th>Max Volumetric Speed</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    {% for filament_brand in filament_list %}
                        {% for filament in filament_brand.list %}
                            <tr>
                                <td>{{ filament.filament.manufacturer_name }}</td>
                                <td>{{ filament.filament.filament_type }}</td>
                                <td>{{ filament.filament.filament_color }}</td>
                                <td>{{ filament.printer.printer_name }}</td>
                                <td>{{ filament.bed_type }}</td>
                                <td>{{ filament.flow_rate }}</td>
                                <td>{% if filament.pressure_advance == 0.000 %}Disabled{% else %}{{ filament.pressure_advance }}{% endif %}</td>
                                <td>{{ filament.first_layer_temp }}</td>
                                <td>{{ filament.other_layer_temp }}</td>
                                <td>{{ filament.plate_temp }}</td>
                                <td>{{ filament.max_volumetric_speed }}</td>
                                <td><img src="{{ filament.filament.filament_image.url }}" height="150" width="150" alt=""></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
        </ul>
    </body>
</html>